APScheduler==3.7.0
aws_psycopg2==1.2.1
boto3==1.24.56
botocore==1.27.96
factory_boy==3.1.0
mypy_boto3_cloudwatch==1.17.1.0
mypy_boto3_ec2==1.17.1.0
mypy_boto3_iam==1.17.1.0
mypy_boto3_rds==1.17.1.0
mypy_boto3_sts==1.17.1.0
mysql-connector-python==8.0.33
psycopg2==2.9.3
psycopg2_binary==2.8.6
pydantic==1.8.2
PyYAML==6.0
Requests==2.31.0
simplejson==3.19.1
