-r requirements.txt
astroid==2.8.0
attrs==20.3.0
autopep8==1.5.4
black==22.3.0
iniconfig==1.1.1
ipdb==0.13.9
isort==5.7.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mock==4.0.3
packaging==20.8
pluggy==0.13.1
py==1.10.0
pylint==2.11.1
pyparsing==2.4.7
pytest==7.4.2
responses==0.12
toml==0.10.2
wrapt==1.12.1
pyre-check==0.9.18
pyre-extensions==0.0.29
